body {
    margin: 0;
}

hr {
    height: 10px;
    border: 2px solid #899;
    border-radius: 6px;
    background: rgba(25, 85, 85, 0.25)
}

.contact-card {
    width: 200px;
    border: 2px solid rgba(75,75,75,0.5);
    border-radius: 6px;
    margin: 5px;
    padding: 6px;
    background: rgba(50, 50, 50, 0.5);
    display: inline-block;
    text-align: center;
}

.game-card {
    display: inline-block;
    text-align: center;
    width: 270px;
    border: 2px solid rgba(75,75,75,0.5);
    border-radius: 6px;
    margin: 5px;
    padding: 6px;
    background: rgba(50,50,50,0.5);
    vertical-align: top;
}

.game-card-img {
    width: 250px;
    height: auto;
    margin-bottom: 10px
}

.joke {
    height: auto;
    width: 200px;
    border: 2px solid rgba(75,75,75,0.5);
    border-radius: 6px;
    margin: 5px;
    padding: 6px;
    background: rgba(50, 50, 50, 0.5);
    display: inline-block;
    vertical-align: top;
}

.card-img {
    height:200px;
    width: auto;
    margin-bottom: 10px;
}

.Nav {
    height: 100px;
    background-color: #324;
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MyInfo {
    padding: 10px;
}

.Footer {
    padding: 10px;
}
